@charset "UTF-8";
/* CSS Document */


body{
background-color:#eeeddf;
color:#a7a9ab;
font-family: 'Ubuntu', sans-serif;
margin:0;
	}
	
/*http://stackoverflow.com/questions/5967758/css-absolute-position-from-top-horizontally-centered-div*/
	
/*
.icons {
position:absolute;
top:45%;
left: 45%;
}
*/

.name{
font-variant: small-caps;
font-weight: bold;
font-size:1.2em;
text-align:center;	
width:100%;	
	}

.slogan{
font-variant: small-caps;
font-size:1em;
text-align:center;	
margin-left: 33px;
margin-top: -12px;
width:100%;	
}


img{
max-width:100%;
	}
	
output { 
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -ms-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}	

.center{
position: absolute;
width: 100%;
top:45%; 
text-align: center;
}

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
width: 100%;
height: 100%;
background-color:#93cdc2;
color:white;
}

.pagination {
    position: fixed;
    bottom: 0px;
    height: 10px;
/*    background: black;*/
    /* top: 0px; */
    z-index: 99999;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.swiper-pagination-switch {
   display:inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.swiper-pagination-switch.swiper-active-switch {
background-color: red;
}